# Rename this to 'settings.cfg' and place in your blog directory
# Settings that are inherited take their values from majestic.cfg
# See the documentation for details on each setting

[site]
url =               # required
archives path =     # optional, inherited
rss path =          # optional, inherited

[paths]
content root =      # optional
posts glob =        # optional
pages glob =        # optional

[dates]
date format =       # optional, inherited
timezone =          # optional, *recommended* that you set

[index]
paginate =          # optional, inherited
posts per page =    # optional, inherited

[user]              # optional, put anything you like in here
foo = bar
